<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mimiuchi_2">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".presenter.Globals"
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="みみうち(店舗用)"
        android:roundIcon="@drawable/icon2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.activity.ShopEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.CouponEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.CouponRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MenuEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MenuRegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>